# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress/reports/*
!cypress/reports/html/
cypress/reports/html/*
!cypress/reports/html/.gitkeep
cypress/html/*
!cypress/html/.gitkeep

# Husky
.husky/_

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build
dist/
build/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp

